
@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/woff/IRANSansX-Medium.woff') format('woff'),   
	url('./fonts/woff2/IRANSansX-Medium.woff2') format('woff2');		 
}
